<header class="sports-header">
    <div class="header-top">
        <div class="container-custom">
            <a href="/" class="logo">
                <i class="bi bi-layout-text-window text-white" style="font-size: 1.8rem; transform: rotate(90deg);"></i>
                <span class="logo-text">HISPORT<span class="highlight">.COM</span></span>
            </a>
        </div>
    </div>

    <div class="header-bottom">
        <div class="container-custom nav-wrapper">
            <ul class="main-menu">
                <li><a href="/" class="home-icon"><i class="bi bi-house-door-fill"></i></a></li>
                <li><a href="/">Trang chủ</a></li>
                <li class="dropdown">
                    <a href="/search">Danh sách sân bãi</a>
                    <ul class="submenu">
                        <li><a href="/search?loai_san=BONG_DA">Bóng đá</a></li>
                        <li><a href="/search?loai_san=TENNIS">Tennis</a></li>
                        <li><a href="/search?loai_san=CAU_LONG">Cầu lông</a></li>
                    </ul>
                </li>
<!--                <li><a href="#">Dịch vụ</a></li>-->
                <li><a href="#">Chính sách</a></li>
                <li><a href="#">Điều khoản</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>

            <ul class="right-menu">

                {% if current_user.is_authenticated %}

                <li class="dropdown">
                    <a href="#" class="d-flex align-items-center">
                        <img src="{{ current_user.avatar }}"
                             onerror="this.src='https://ui-avatars.com/api/?name={{ current_user.ho_ten }}&background=random'"
                             alt="Avatar"
                             style="width: 28px; height: 28px; border-radius: 50%; object-fit: cover; margin-right: 8px;">
                        {{ current_user.ho_ten }} <i class="bi bi-caret-down-fill ms-1" style="font-size: 0.8rem;"></i>
                    </a>

                    <ul class="submenu">
                        <li><a href="/profile"><i class="bi bi-person-circle me-2"></i> Thông tin cá nhân</a></li>
                        <li><a href="/orders"><i class="bi bi-clock-history me-2"></i> Lịch sử đặt sân</a></li>
                        <li><a href="/logout" class="text-danger"><i class="bi bi-box-arrow-right me-2"></i> Đăng
                            xuất</a></li>
                    </ul>
                </li>

                {% else %}

                <li><a href="/register">Đăng ký</a></li>
                <li><a href="/login">Đăng nhập</a></li>
                <li class="search-box">
                    <a href="/search">Tìm kiếm <i class="bi bi-search" style="font-size: 0.9rem; margin-left: 5px;"></i></a>
                </li>
                {% endif %}


            </ul>


        </div>
    </div>
</header>